@using Makerlab.Helpers
@{
    ViewBag.Title = "MakerLab :: Dashboard";
}

<div class="container">
    <div class="row">
        @Html.Partial("_dashboard_navbar")
        
        <div class="col-md-10">
            <h3 class="header-no-margin">Velkommen til Dashboard</h3>
        </div>
    </div>
</div>