
@{
    ViewBag.Title = "MakerLab :: Messages";
}

<div class="container">
    <div class="row">
        @Html.Partial("_dashboard_navbar")
        @*<div class="checkbox">
        
        <label>
            <input type="checkbox"> Succes!
        </label>
        <label>
            <input type="checkbox"> Warning!
        </label>
        <label>
            <input type="checkbox"> Info!
        </label>
        <label>
            <input type="checkbox"> Danger!
        </label>
    </div>*@

        <div class="form-group">
            <label for="msg">Besked:</label>
            <input type="text" class="form-control" id="msg" placeholder="Skriv beskden her">
            <br/>
            <button type="submit" class="btn btn-primary">Post besked</button>
        </div>
    </div>
</div>

