<link href="../../content/Overview.css" rel="stylesheet" type="text/css" />

@model IEnumerable<Makerlab.Models.User>

@{
    ViewBag.Title = "Oversigt";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Beskeder</h3>
            <div class="alert alert-warning" role="alert">
                <b>Maintenance</b>
                <p>
                    Gandalf er under maintenance
                </p>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 50px;">
        <div class="col-md-12">
            <div class="overview-container">


                <div class="printer-name-container col-xs-1">
                    <div class="printer-names">&nbsp;</div>
                    <div class="printer-names">Aragorn</div>
                    <div class="printer-names">Frodo</div>
                    <div class="printer-names">Gollum</div>
                    <div class="printer-names">Sauron</div>
                    <div class="bottom-field printer-names">Gandalf</div>
                </div>

                <div class="time-table col-xs-11">
                    @for (var i = 0; i < 24; i++)
                    {<div class="time-header">
                        @if (i < 10)
                        {
                            var n = 0;
                            <div>@n@i:00</div>
                        }
                        else
                        {
                            <div>@i:00</div>
                        }
                    </div>}
                    @for (var q = 0; q < 5; q++)
                    {
                        <div data-time="@q">
                            @for (var i = 0; i < 24; i++)
                            {<div @*data-time="@i"*@ class="time-row time-cells">
                                
                                    <div class="cells">&nbsp;</div>
                                
                            </div>}
                        </div>
                    }




                </div>


            </div>
        </div>
    </div>
</div>
