@using Makerlab.DAL
@using Makerlab.Extensions
@{
    ViewBag.Title = "NewBooking";
}

<div class="container">
    <div class="row" style="margin-top: 50px;">

        <div class="col-md-12">
            <h3>Book ny tid</h3>

            <div class="col-md-12">
                <div class="col-md-2">Printer: </div>
                <div class="col-md-10 dropdown dropdown-menu">
                    <select>
                        @foreach (var d in @PrinterManager.Read())
                        {
                            <option>d.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-2">Dato: </div>
                <div class="col-md-10">
                    
                </div>
            </div>

        </div>
    </div>
</div>
