@{
    ViewBag.Title = "NewBooking";
}

<div class="container">
    <div class="row" style="margin-top: 50px;">

        <div class="col-md-12">
            <h3>Book ny tid</h3>

            <p>Printer: <input type="text" name="printer" /></p>
            <p>Dato: <input type="text" name="date" /></p>


            <div class="col-md-10">
                <input type="file" name="upload"/>
                <input type="submit" value="ok"/>
            </div>


        </div>
    </div>
</div>
