
@{
    ViewBag.Title = "LogInd";
}

<div class="container" style="margin-top: 50px">
    <p>Du skal her anvende samme e-mailadresse og adgangskode, som når du logger ind på BlackBoard.</p>


    <a href="@Url.Content("~/AuthServices/SignIn")">Sign in</a> - default IDP

    @foreach (var idp in Kentor.AuthServices.Configuration.KentorAuthServicesSection.Current.IdentityProviders)
    {
        var entityID = idp.EntityId;
        var destinationUrl = idp.DestinationUrl;
        <br />
        <a href="@Url.Content("~/AuthServices/SignIn?idp=" + HttpUtility.UrlEncode(entityID))">Sign in</a>@: - @entityID - @destinationUrl
        }
</div>

