@using Makerlab.Extensions
@using Makerlab.Models
@model List<Booking>

@{
    ViewBag.Title = "Mine Bookinger";
}

<div class="container">
    <div class="row">

        <div class="col-md-6">

            <h3>Planlagte bookinger &nbsp;</h3>
            
            <table class="table table-hover">

                <thead>
                    <tr>
                        <th class="col-md-2">Printer</th>
                        <th class="col-md-3">Dato</th>
                        <th class="col-md-3">Filnavn</th>
                        <th class="col-md-4">Indstillinger</th>
                    </tr>
                </thead>

                <tbody>
                @foreach (var booking in Model)
                {
                    <tr>
                        <td>@booking.Printer.Name</td>
                        <td>@Html.DisplayFor(modelItem => booking.StartTime) </td>
                        <td>@booking.File.FileName</td>
                        <td>
                            <button class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></button>
                            <button class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
                            <button class="btn btn-primary"><i class="glyphicon glyphicon-camera"></i></button>
                        </td>
                    </tr>
                }
                </tbody>

            </table>
        </div>

        <div class="col-md-6">

            <h3>Historik &nbsp;</h3>

            <table class="table table-hover">

                <thead>
                    <tr>
                        <th class="col-md-2">Printer</th>
                        <th class="col-md-3">Dato</th>
                        <th class="col-md-3">Filnavn</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

