@using Makerlab.DAL
@using Makerlab.Extensions

<script type="text/javascript"
        src="http://jqueryui.com/ui/i18n/jquery.ui.datepicker-da.js">
</script>
<script>
    $(function() {
        $("#datepicker").datepicker({
            firstDay: 1, //First day is monday (For sunday set 0)
            dayNames: ['Søndag', 'Mandag', 'Tirsdag', 'Onsdag', 'Torsdag', 'Fredag', 'Lørdag'],
            dayNamesShort: ['Søn', 'Man', 'Tir', 'Ons', 'Tor', 'Fre', 'Lør'],
            dayNamesMin: ['Sø', 'Ma', 'Ti', 'On', 'To', 'Fr', 'Lø'],
            monthNames: ["Januar", "Februar", "Marts", "April", "Maj", "Juni", "Juli", "August", "September", "Oktober", "November", "December"],
            monthNamesShort: ["Jan", "Feb", "Mar", "Apr", "Maj", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dec"],
            dateFormat: "dd-mm-yy"
        });
    },
    $.datepicker.regional['da']
    );
</script>
<script>
    $(function() {
        $("#stepExample1").timepicker({ 'step': 15 });
        $("#stepExample2").timepicker({
            'step': function (i) {
                return (i % 2) ? 15 : 45;
            }
        });
    });
</script>


@{
    ViewBag.Title = "NewBooking";
}

<div class="container">
    <div class="row" style="margin-top: 50px;">
        
        <div class="col-md-12">
            <h3>Book ny tid</h3>
            <hr/>

            <div class="col-md-12">
                <div class="col-md-1">Printer:</div>
                <select>
                    <option>Vælg printer..</option>
                    @foreach (var d in @PrinterManager.Read())
                    {
                        <option>@d.Name</option>
                    }
                </select>
            </div>

            <div class="col-md-12">
                <br />
                <div class="col-md-1">Dato: </div>

                <input type="text" id="datepicker">
            </div>

            <div class="col-md-12">
                <br/>
                <div class="col-md-1">Klokkeslæt: </div>

                <p><input id="stepExample1" type="text" class="time"/> &nbsp; - &nbsp; <input id="stepExample2" type="text" class="time"/>
                </p>
            </div>

            <div class="col-md-12">
                <br/>
                <input type="file" value="Upload fil"/>
            </div>

            <div class="col-md-12">
                <br/>
                <input type="submit" value="Book printer" class="btn btn-primary"/>
            </div>

        </div>
    </div>
</div>
