<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>

    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->

    <!--Kentor Saml2-->
    <section name="system.identityModel"
      type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
    <section name="system.identityModel.services"
      type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
    <section name="kentor.authServices" type="Kentor.AuthServices.Configuration.KentorAuthServicesSection, Kentor.AuthServices"/>
    <!--Kentor Saml2 end-->
  </configSections>

  <!--<connectionStrings>
    <add name="DatabaseEntities" connectionString="metadata=res://*/Models.MakerLab.csdl|res://*/Models.MakerLab.ssdl|res://*/Models.MakerLab.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\ProjectsV12;initial catalog=Database_1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>

    <authentication mode="Forms">
      <forms loginUrl="~/AuthServices/SignIn"/>
    </authentication>
  </system.web>

  <system.webServer>
    <modules>
      <add name="SessionAuthenticationModule"
        type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        preCondition="managedHandler"/>
    </modules>
  </system.webServer>


  
  

  <!--Kentor Authorization-->
  <kentor.authServices entityId="http://localhost:1287/" returnUrl="http://localhost:1287/" discoveryServiceUrl="http://localhost:1287/DiscoveryService">
    <identityProviders>
      <add entityId="http://stubidp.kentor.se/Metadata" destinationUrl="http://stubidp.kentor.se/" allowUnsolicitedAuthnResponse="true" binding="HttpRedirect">
        <signingCertificate fileName="~/App_Data/Kentor.AuthServices.StubIdp.pfx"/>
      </add>
    </identityProviders>
    <federations>
      <add metadataUrl="http://localhost:52071/Federation" allowUnsolicitedAuthnResponse="true" />
    </federations>
  </kentor.authServices>
  <!--<kentor.authServices entityId="https://asemakerlab.au.dk" returnUrl="https://asemakerlab.au.dk" discoveryServiceUrl="http://localhost:1287/DiscoveryService">
  <kentor.authServices entityId="http://localhost:1287/" returnUrl="http://localhost:1287/" discoveryServiceUrl="http://localhost:1287/DiscoveryService">
    <metadata cacheDuration="0:15:00">
      <organization name ="ase.au.dk" displayName="AU ASE" url="http://ase.au.dk/"/>
      <contactPerson type="Administrative" email="sat@ase.au.dk" phoneNumber="41893236"/>
      <requestedAttributes>
        
    <add name="urn:oid:2.5.4.42" isRequired="true"/>
    
        <add friendlyName ="Some Name" name="urn:someName" nameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" isRequired="true" />
        <add name="Minimal" />
      </requestedAttributes>
    </metadata>
    <identityProviders>
      <add entityId="http://stubidp.kentor.se/Metadata" destinationUrl="http://stubidp.kentor.se/" allowUnsolicitedAuthnResponse="true" binding="HttpRedirect">
        <signingCertificate fileName="~/App_Data/Kentor.AuthServices.StubIdp.pfx" />
      </add>
      <add entityId="https://testbridge.wayf.dk"
           metadataUrl="https://testbridge.wayf.dk/saml2/idp/metadata.php"
           destinationUrl="https://testbridge.wayf.dk/saml2/idp/SSOService.php"
           loadMetadata="true"
           allowUnsolicitedAuthnResponse="true" binding="HttpRedirect">
      </add>
    </identityProviders>
    <federations>
      <add metadataUrl="http://localhost:52071/Federation" allowUnsolicitedAuthnResponse="true" />
    </federations>
  </kentor.authServices>
  <system.identityModel>
    <identityConfiguration>
      <claimsAuthenticationManager type="Kentor.AuthServices.Tests.ClaimsAuthenticationManagerStub, Kentor.AuthServices.Tests"/>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel />
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="false" />
    </federationConfiguration>
  </system.identityModel.services>
  <kentor.authServices
                     entityId="http://stubidp.kentor.se/Metadata"
                     returnUrl="http://localhost:1287">
    <identityProviders>
      <add entityId="https://stubidp.kentor.se/Metadata"
           destinationUrl="https://stubidp.kentor.se"
           allowUnsolicitedAuthnResponse="true" binding="HttpRedirect">
        <signingCertificate fileName="~/App_Data/Kentor.AuthServices.StubIdp.pfx" />
      </add>
    </identityProviders>
    <federations>
      <add metadataUrl="http://localhost:52071/Federation" allowUnsolicitedAuthnResponse="true" />
    </federations>
  </kentor.authServices>-->
  <!-- Kentor Authorization Ended-->

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

</configuration>



